.morseCodePanel {
    margin: 50px 50px;
}

.morseCodePanel input {
    margin: 20px 20px;
    min-width: 300px;
    display: inline-block;
}

.morseCodePanel .outputMorseCode {
    font-family: monospace;
}

.morseCodeCharacter {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 40px;
}

.morseCodeCharacter .code, .morseCodeCharacter .letter {
    display: block;
    font-family: monospace;
    text-align: left;
}